/* AddMovie.css */
.main-box {
  max-width: 1000px;
  margin: auto;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0); /* Tło całkowicie przeźroczyste */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  color: #000;
}

.main-box2 {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0); /* Tło całkowicie przeźroczyste */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  color: #000;
}


.add-movie-container {
  text-align: center;
}
+
h2 {
  color: #333;
}

.form-add-movie {
  display: flex;
  flex-direction: column;
}

.form-global {
  margin-top: 20px;
}

p {
  margin-top: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
  margin-left: -10px;
}

button {
  background-color: #e50914;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #d10813;
}

.login-link-text-gray {
  color: #555;
}
