body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://wallpaperaccess.com/full/3982321.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow-y: scroll;
  color: #fff;
}

.main-box-delete-movie {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.add-movie-container-delete-movie {
  text-align: center;
}

.delete-movie-title {
  font-size: 24px;
  color: #333;
}

.form-add-movie-delete-movie {
  margin-top: 20px;
}

.form-global-delete-movie {
  display: flex;
  flex-direction: column;
}

.form-left-column-delete-movie {
  margin-top: 10px;
}

.delete-movie-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.delete-movie-button {
  background-color: #8f0e91;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-movie-button:hover {
  background-color: #ae12b0;
}

.form-global-delete-movie {
  display: flex;
  flex-direction: column;
  color: #000;
}
