.header {
  background-color: #000;
  padding: 1rem 0;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  width: 100px;
}

.logo-text_2 {
  margin-left: -190px;
  margin-bottom: -30px;
  color: red;
  font-family: 'Berkshire Swash', cursive;
  font-size: 45px;
  text-decoration: none;
  cursor: pointer;
}

.logo-text_2:hover {
  color: #e50914;
  text-decoration: none;
}


.logo-text_2 > a {
  color: inherit;
  text-decoration: none;
}

.search input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.search-button {
  background-color: #e50914;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #d10813;
}

.login-btn {
  background-color: #e50914;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.login-btn:hover {
  background-color: #d10813;
}
