.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  color: #000;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #000; /* Dodaj kolor tekstu */
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  margin-left: -10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #e50914;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #d10813;
}

p {
  text-align: center;
  margin-top: 15px;
}

p a {
  color: #e50914;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.no-account-text {
  color: #000;
}
