.main {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://wallpapercave.com/wp/wp8979240.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow-y: scroll;
  color: #fff;
}

.main-box {
  max-width: 1200px;
  margin: 0 auto;
}

.sectionGrid {
  color: #fff;
}

.sectionGrid h2 {
  color: #e50914;
}

.add-movie-button {
  background-color: #e50914;
  color: #fff;
  padding: 10px 20px;
  font-size: 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  right: 20px;
}

.add-movie-button:hover {
  background-color: #d10813;
}


