.main-box {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #000;
  border-radius: 4px;
}

.add-movie-box {
  text-align: center;
}

.search-result-container {
  color: #000;
}


h2 {
  text-align: center;
  color: #8f0e91;
}

ul {
  list-style-type: none;
  padding: 0;
}

.link-element-item {
  cursor: pointer;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #8f0e91;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.link-element-item:hover {
  background-color: #ae12b0;
}

.link-element-item h4 {
  margin: 0;
}

#no-results {
  color: #fff;
}

